<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="warning"></ion-icon>
      </ion-button>
      <ion-col>
        <ion-img src="./assets/Logo_sin_fondo.png" id="logo"></ion-img>
      </ion-col>
    </ion-buttons>
    <ion-title id="nombre">Class-Dash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
  
    <ion-card-content>
      Eliga alguna de las dos opciones.
    </ion-card-content>
    <ion-button fill="clear" (click)="profesor()">Profesor</ion-button>
    <ion-button fill="clear" (click)="alumno()">Alumno</ion-button>
    
  </ion-card>

  

</ion-content>
