<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row class="ion-align-items-start">
        <ion-col >
          <ion-title id="nombre">Class-Dash</ion-title>
        </ion-col>
        <ion-col>
          <ion-img src="./assets/Logo_sin_fondo.png" id="logo"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-title id="contxt">Contexto</ion-card-title>
    <h5 id="contx">La pandemia de COVID-19 cambió la educación superior. Las instituciones pasaron de la presencialidad a la virtualidad, pero luego regresaron a la presencialidad con protocolos de seguridad. Estos cambios generaron desafíos, como la desigualdad en el acceso a la tecnología y la falta de preparación de los estudiantes y docentes.</h5>
  </ion-card>
  <ion-card>
    <ion-img src="./assets/colegiosNOTA.jpg" id="contxt"></ion-img>
  </ion-card>

  
  
</ion-content>


